<template>
  <div>
    <h1>demo06</h1>
    <span>params from demo5:</span>
    <div class="panel">
      <p>name: {{form.name}}</p>
      <p>region: {{form.region}}</p>
      <p>type: {{form.type}}</p>
    </div>
  </div>
</template>
<script>
module.exports = {
  name: "demo06",
  data: function() {
    return {
      form: {}
    }
  },
  beforeRouteEnter (to, from, next) {
    if (to.params.form) {
      next(function(vm) {
        vm.form = to.params.form;
      })
    } else {
      next();
    }
  },
};
</script>

<style scoped>
span {
  margin-left: 30px;
}

.panel {
  padding: 10px 30px;
  background-color: aliceblue;
}
</style>
