.vue-svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.vue-svg-external-icon {
  background-color: currentColor;
	mask-size: cover !important;
	-webkit-mask-size: cover !important;
  display: inline-block;
}

.vue-button .vue-svg-icon+span {
  margin-left: 10px;
}
